<form class="{{cssClass}}" autocomplete="off">
    <header class="shee-header">
        <h1> 
            <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/> </h1>
        </h1>
    </header>
    <div>
    Axioms
    <table>
        {{#each data.axioms}}
        <tr>
            <th>
                {{@key}}
                {{@index}}
                {{this.value}}
            </th>
        </tr>
        <tr>
            <td>
                <input name="data.axioms.{{key}}.value" type="text" value="{{this.value}}" data-dtype="Number"/>
            </td>
        </tr>
        {{/each}}
    </table>
    </div>
    Attributes

    Skills
    
</form>
