name: Release

on: 
  release:
    types: [published]

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get Version
        id: version
        run: |
          echo ::set-output name=TAG::${GITHUB_REF#refs/tags/}
          echo ${{ steps.version.outputs.TAG }}
      - name: Install Gulp
        run: |
          npm install --global gulp-cli
          gulp -v
      - name: Build
        run: gulp build
      - name: Zip Files
        working-directory: ./dist
        run: zip -r ../release.zip
      - name: Github Release
        uses:  actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: https://github.com/torg-codex/vtt-torgeternity/releases/tag/${{ steps.version.outputs.TAG }}
          asset_path: ./release.zip
          asset_name: release.zip
          asset_content_type: application/zip
      - name: Github Release
        uses:  actions/upload-release-asset@v1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: https://github.com/torg-codex/vtt-torgeternity/releases/tag/${{ steps.version.outputs.TAG }}
          asset_path: ./dist/system.json
          asset_name: system.json
          asset_content_type: application/json
        
