name: Release
on: push

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Install Gulp
        run: |
          npm install gulp-cli
          gulp -v
      - name: Build
        run: gulp build package
